h2 {
    color:#14213D;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
 
p {
    border: 2px solid #ddd; 
    padding: 50px; 
    border-radius: 155px;
    transition: background-color 1s ease;
    font-family:Verdana, Geneva, Tahoma, sans-serif
  }
  
  p:hover {
    background-color: #f3f3f3;

  }

body {
    background-color: rgb(204, 231, 240);
}

.about-me-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 29%;
}

