.proficiency-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.proficiency-list li {
    margin-right: 20px; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

